{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": ["markdown"],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false
  },
  "rules": {
    "semi": [2, "never"],
    "max-len": [2, 120, 2]
  }
}
